<!-- -*- xml -*- -->
<launch>

  <!-- Camera parameters without distorsion -->
  <param name="square_size" type="double" value="0.12"/>        <!-- Square size in [m] corresponding to the distance between blobs center -->
  <param name="cam_px" type="double" value="1109.8389473004"/>  <!-- Intrinsic camera parameter px -->
  <param name="cam_py" type="double" value="1111.6863942763"/>  <!-- Intrinsic camera parameter py -->
  <param name="cam_u0" type="double" value="333.5848028848"/>   <!-- Intrinsic camera parameter u0 -->
  <param name="cam_v0" type="double" value="227.5683396488"/>   <!-- Intrinsic camera parameter v0 -->

  <!-- blob_tracker -->
  <node pkg="visp_ros" type="visp_ros_blob_tracker_node" name="blob_tracker" output="screen">
  </node>

</launch>

